<style>
#myDIV {
    color: rgb(60, 160, 82);
    border: 0px solid currentcolor;
  }
  </style>
  <style>
    body {
      background-color: rgb(224, 224, 159);
    }
   </style>
  <div id="myDIV">
<H3> Mercedes Benz
    "Connecting Aspirations"
</H3>

<h2 style="color: rgb(6, 25, 54);"> VISION :
  Astorg Auto of Charleston holds a responsibility to foster an environment which empowers employees, promotes innovation, relationships, and growth. We will continuously strive to inspire consumer confidence by supplying a transparent atmosphere and offering a premium automobile product with individualized customer care.. </h2>
    <h2 style="color:rgb(66, 64, 226);">MISSION :
      We will inspire and create an exceptional place to work and to do business. One employee, one customer, one vehicle at a time. Through our transparent atmosphere, premium auto inventory, and individualized customer care, we create the luxury shopping experience that our customers truly deserve.</h2>
 
<h4><b> CEO: Mr. Dieter Zetsche (2019 - Present)</b></h4>
<h3> Founded:28 June 1926</h3>

</div>
