<img src="/assets/logo4.jpg" alt="logo4" style="width:1200px;height:200px;">

<H3> Contact Details: </H3>

<ol>
    <li> Name: Mercedes-Benz India Pvt</li>
    <li> Email: contact@benz.com</li>
    <li> Address: E 3 Midc Chakan Phase 3 Kuruli & Nighoje,
         Chakan Industrial Area Tal Khed Chakan,
         Pune - 410501
        
        
    </li><li>Embassy Crest (Registered Office). Plot No. 5-P, EPIP Zone, Phase 1, Whitefield Road, Near Satya Sai Baba Hospital ,Bengaluru ,Karnataka – 560066.
        Contact: 022 - 62407101</li>
</ol>
